* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: "Roboto";
  font-size: 22px;
}

header {
  height: 100px;
  padding: 10px;
  background-color: #1f2937;
  display: flex;
  align-items: center;
}

.header-container {
  margin: 0 auto;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150px;
  font-size: 24px;
  color: #f9faf8;
}

.menu-container {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  margin-left: 15px;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  height: 300px;
  background-color: #1f2937;
  display: flex;
  align-items: center;
}

.information {
  height: 400px;
  background-color: #fff;
}

.quote {
  height: 400px;
  background-color: #e5e7eb;
}

.action {
  height: 400px;
  background-color: #fff;
}

footer {
  height: 100px;
  padding: 10px;
  background-color: #1f2937;
}

.hero-container {
  margin: 0 auto;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hero-info {
    width: 400px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 10px;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 20px;
}

.hero-button {
  background-color: #3882f6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

.hero-image {
    width: 400px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}