* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: 'Roboto'; 
    font-size: 22px;
}

header {
    height: 100px;
    padding: 10px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.container {
    margin: 0 auto;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 150px;
    font-size: 24px;
    color: #F9FAF8;
}

.menu-container {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    margin-left: 15px;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    height: 300px;
    background-color: #1F2937;
}

.information {
    height: 400px;
    background-color: #fff;
}

.quote {
    height: 400px;
    background-color: #E5E7EB;
}

.action {
    height: 400px;
    background-color: #fff;
}

footer {
    height: 100px;
    padding: 10px;
    background-color: #1F2937;
}